<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= data.content.meta.title || "Notability" %></title>

    <%= stylesheet_link_tag "style" %>
    <%= javascript_include_tag "modernizr" %>
    <script type="text/javascript" src="//use.typekit.net/pub7kjl.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  
  <body class="loading <%= page_classes %>">
   <!--  <%= partial "partials/_pattern-style-menu" %> -->
    <%= partial "partials/_header" %>

    <div id="preload">
      <img src="images/hero.jpg">
      <img src="images/explore.jpg">
      <img src="images/perspective.jpg">
      <img src="images/footer.jpg">
    </div>

    <%= yield %>
    <%= partial "partials/_footer" %>
    <%= javascript_include_tag  "all" %>
  </body>
</html>