<div class="content">
  <section id="slide-1" class="section full-photo homeSlide relative">
    <div class="bcg" 
      data-center="background-position: 50% 0px;" 
      data-top-bottom="background-position: 50% -100px;" 
      data-anchor-target="#slide-1"
      data-interchange="[images/hero-md.jpg, (small)], [images/hero.jpg, (default)], [images/hero2x.jpg, (xlarge)], [images/hero2x.jpg, (largeretina)]">
      <div class="hsContainer">
        <div class="hsContent" 
          data-center="opacity: 1" 
          data-center-top="opacity: 0" 
          data--400-bottom="opacity: 0;" 
          data-anchor-target="#slide-1">
          <h2><%= partial "partials/_h-fall" %></h2>
        </div>
      </div>
    </div>
  </section>

  <section id="message-1" class="primary-container">
    <div class="row">
      <div class="large-12 large-centered columns">
        <div class="pitch text-center">
          <h2><%= partial "partials/_h-capture" %></h2>
          <%= data.content.slides.thoughts.content %>
        </div>
      </div>
    </div>
    <div class="pad">
      <figure>
        <img src="images/pad1.png">
      </figure>
    </div>
  </section>

  <section id="slide-2" class="section full-photo homeSlide">
    <div class="bcg" 
      data-center="background-position: 50% 10px;" 
      data-top-bottom="background-position: 50% -100px;" 
      data-bottom-top="background-position: 50% 100px;" 
      data-anchor-target="#slide-2"
      data-interchange="[images/explore-md.jpg, (small)], [images/explore.jpg, (default)], [images/explore2x.jpg, (xlarge)], [images/explore2x.jpg, (largeretina)]">
      <div class="hsContainer">
        <div class="hsContent" 
          data-center="opacity: 1" 
          data-center-top="opacity: 0" 
          data--20-bottom="opacity: 1;" 
          data-anchor-target="#slide-2">
          <h2><%= partial "partials/_h-explore" %></h2>
          <%= data.content.slides.explore.content %>
        </div>
      </div>
    </div>
  </section>

  <section id="message-2" class="primary-container">
    <div class="row">
      <div class="large-12 large-centered columns">
        <div class="pitch text-center">
          <h2><%= partial "partials/_h-finalize" %></h2>
          <%= data.content.slides.finalize.content %>
          <p><%= partial "partials/_svg-icons" %></p>
        </div>
      </div>
    </div>

    <div class="pad">
      <figure>
        <img src="images/pad2.png">
      </figure>
    </div>
  </section>

  <section id="slide-3" class="section full-photo homeSlide">
    
    <div class="bcg" 
      data-center="background-position: 50% 10px;" 
      data-top-bottom="background-position: 50% -100px;" 
      data-bottom-top="background-position: 50% 100px;" 
      data-anchor-target="#slide-3"
      data-interchange="[images/perspective-md.jpg, (small)], [images/perspective.jpg, (default)], [images/perspective2x.jpg, (xlarge)], [images/perspective2x.jpg, (largeretina)]">
      <div class="hsContainer">
        <div class="hsContent" 
          data-center="opacity: 1" 
          data-center-top="opacity: 0" 
          data--20-bottom="opacity: 1;" 
          data-anchor-target="#slide-3">
          <h2><%= partial "partials/_h-perspective" %></h2>
          <%= data.content.slides.perspective.content %>
        </div>
      </div>
    </div>
  </section>

  <section id="message-3" class="primary-container">
    <div class="row">
      <div class="large-8 large-centered columns text-center">
        <div class="sale">
          <h2><%= data.content.slides.notes.title %></h2>
          <%= data.content.slides.notes.content %>
        </div>
      </div>
    </div>

    <div class="lap text-center">
      <figure>
        <img src="images/lap.png" data-interchange="[images/lap.png, (default)], [images/lap2x.png, (xlarge)], [images/lap2x.png, (largeretina)]">
      </figure>
    </div>
  </section>

  <section id="slide-4" class="section full-photo homeSlide">
    <div class="bcg" 
      data-center="background-position: 50% 10px;" 
      data-top-bottom="background-position: 50% -100px;" 
      data-bottom-top="background-position: 50% 100px;" 
      data-anchor-target="#slide-4"
      data-interchange="[images/footer-md.jpg, (small)], [images/footer.jpg, (default)], [images/footer2x.jpg, (xlarge)], [images/footer2x.jpg, (largeretina)]">
      <div class="hsContainer">
        <div class="hsContent" 
          data-center="opacity: 1" 
          data-center-top="opacity: 0" 
          data--100-bottom="opacity: 1;" 
          data-anchor-target="#slide-4">
          <%= data.content.slides.testimonial.content %>
          <p class="delta"><%= data.content.slides.testimonial.cite %></p>
        </div>
      </div>
    </div>
  </section>
</div>
